@font-face {
  font-family: "Jura";
  src:
    local("Jura"),
    url("../assets/fonts/Jura-VariableFont_wght.ttf"),
    url("../assets/fonts/Jura-VariableFont_wght.woff2"),
}

@font-face {
  font-family: "Days";
  src:
    local("Days"),
    url("../assets/fonts/Days.ttf"),
    url("../assets/fonts/Days.woff2"),
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("../assets/fonts/Raleway-VariableFont_wght.ttf"),
    url("../assets/fonts/Raleway-VariableFont_wght.woff2"),
}