@import '../src/styles/_fonts.scss';


body {
  margin: 0;
  background: #DBEFFF;
  overflow-x: hidden;
  position: relative;
}

* {
  padding: 0px;
  margin: 0px;
}

.container  {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 75px;
}

.container_content  {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
}



@media screen and (max-width:1260px) {
  .container  {
    padding: 0px 25px;
  }
  .container_content  {
  padding: 0px 5px;
}
}


@media screen and (max-width:760px) {
  .container  {
    padding: 0px 10px;
  }
  .container_content  {
  padding: 0px 10px;
}

}


